<header data-sticky-container>
  <div class="top-bar" class="sticky" data-sticky data-margin-top="0">
    <div class="top-bar-left">
      <a title="Go Home" href="/"><img class="logo" src="assets/img/homepage/sasha-logo-v2.svg" alt="Sasha Castillo Logo" width="300" /></a>
    </div>
    <div class="top-bar-right">
      <nav>
        <ul class="menu align-right">
          <li><a href="/">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
