<header data-sticky-container>
  <div class="top-bar" class="sticky" data-sticky data-options="marginTop:0;" style="width:100%">
    <a title="Go Home" href="/">
      <div class="top-bar-left">
          <img class="logo" src="assets/img/homepage/sasha-logo-v2.svg" alt="Sasha Castillo Logo" width="300" />
          <!-- <picture>
            <source media="(min-width:1024px)" srcset="assets/img/homepage/sasha-logo-v2.svg">
            <img srcset="assets/img/homepage/sasha-logo-v2mobile-01.svg" alt="Foradori">
          </picture> -->
      </div>
    </a>
    <div class="top-bar-right">
      <nav>
        <ul class="menu align-right">
          <li class="show-for-medium"><a class="current" href="/">Home</a></li>
          <li><a href="/work.html">Projects</a></li>
          <li><a href="/about.html">About</a></li>
          <!-- <li><a href="/contact.html">Contact</a></li> -->
          <li><a class="button button-main show-for-medium" href="/services.html">Work with me</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
